@CHARSET "UTF-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.h1-black {
	font-family: "黑体";
	font-size: 36px;
	font-weight: bold;
	color: #333333;
}
.h1-2 {
	font-family: "黑体";
	font-size: 30px;
	color: #666666;
}
.h2-24 {
	font-family: "黑体";
	font-size: 24px;
}
.f12-gao1 {
	font-size: 12px;
	line-height: 20px;
	color: #333333;
}
.f14-gao1 {
	font-size: 14px;
	line-height: 30px;
	color: #333333;
}
.STYLE2 {font-family: "黑体"; font-size: 24px; color: #990000; }
.STYLE3 {
	color: #990000;
	font-family: "微软雅黑";
}
.STYLE5 {color: #666666}
.STYLE6 {font-family: "微软雅黑"}
.STYLE7 {color: #666666; font-family: "微软雅黑"; }
.STYLE8 {font-size: 14px; line-height: 30px; color: #333333; font-family: "微软雅黑"; }
.STYLE9 {font-family: "微软雅黑"; font-size: 36px; font-weight: bold; color: #333333; }
.STYLE10 {font-family: "微软雅黑"; font-size: 30px; color: #666666; }
.trbanner{font-family: "微软雅黑"; font-size: 30px; background-color: #FF0000;}