<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.dao.OrderDetailDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.itour.entity.OrderDetail" >
	<result column="id" property="id"/>
	<result column="status" property="status"/>
	<result column="create_time" property="createTime"/>
	<result column="update_time" property="updateTime"/>
	<result column="content" property="content"/>
	<result column="remark" property="remark"/>
	<result column="per_price" property="perPrice"/>
	<result column="count" property="count"/>
	<result column="order_id" property="orderId"/>
	<result column="is_valid" property="isValid"/>
	<result column="adults" property="adults"/>
	<result column="children" property="children"/>
	<result column="group_code" property="groupCode"/>
	<result column="group_date" property="groupDate"/>
</resultMap>
       
<!-- order_detail table all fields -->
<sql id="Base_Column_List" >
	 id, status, create_time, update_time, content, remark, per_price, count, order_id,is_valid,adults,children,group_code,group_date
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where is_valid=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id like CONCAT('%', #{id}, '%')
	</if>
	<if test="status != null and status !=''" >
	    and status =  #{status}
	</if>
	<if test="createTime != null and createTime !=''" >
	    and DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(#{createTime},'%Y-%m-%d') 
	    <!-- unix_timestamp(create_time)  -->
	</if>
	<if test="updateTime != null and updateTime !=''" >
	   and DATE_FORMAT(update_time,'%Y-%m-%d') = DATE_FORMAT(#{updateTime},'%Y-%m-%d') 
	</if>
	<if test="content != null and content != ''" >
	    and content like CONCAT('%', #{content}, '%')
	</if>
	<if test="remark != null and remark != ''" >
	    and remark like CONCAT('%', #{remark}, '%')
	</if>
	<if test="perPrice != null and perPrice !=''" >
	    and per_price =  #{perPrice}
	</if>
	<if test="count != null and count !=''" >
	    and count =  #{count}
	</if>
	<if test="orderId != null and orderId != ''" >
	    and order_id = #{orderId}
	</if>
	<if test="adults != null and adults != ''" >
	    and adults = #{adults}
	</if>
	<if test="children != null and children != ''" >
	    and children = #{children}
	</if>
	<if test="groupCode != null and groupCode != ''" >
	    and group_code = #{groupCode}
	</if>
	<if test="groupDate != null and groupDate != ''" >
	    and group_date = #{groupDate} 
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.itour.entity.OrderDetail" >
<!-- <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey> -->
  insert into order_detail(id,status,create_time,update_time,content,remark,per_price,count,order_id,is_valid,adults,children,group_code,group_date)
 values(#{id},#{status},now(),now(),#{content},#{remark},#{perPrice},#{count},#{orderId},1,#{adults},#{children},#{groupCode},#{groupDate})
</insert>

 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="update" parameterType="com.itour.entity.OrderDetail" >
	update order_detail set update_time=now(),
	<trim  suffixOverrides="," >
		<if test="isValid != null and isValid !=''">
			is_valid = #{isValid},
		</if>
		<if test="status != null  and status !=''">
			status=#{status},
		</if>
		<if test="content != null and content != '' ">
			content=#{content},
		</if>
		<if test="remark != null and remark != '' ">
			remark=#{remark},
		</if>
		<if test="perPrice != null and perPrice !='' ">
			per_price=#{perPrice},
		</if>
		<if test="count != null and count !=''">
			count=#{count},
		</if>
		<if test="orderId != null and orderId != '' ">
			order_id=#{orderId},
		</if>
		<if test="adults != null and adults != ''" >
		     adults = #{adults},
		</if>
		<if test="children != null and children != ''" >
		     children = #{children},
		</if>
		<if test="groupCode != null and groupCode != ''" >
		     group_code = #{groupCode},
		</if>
		<if test="groupDate != null and groupDate != ''" >
		     group_date = #{groupDate} ,
		</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="java.util.Map">
	delete from order_detail where id = #{id}
</delete>
 <!-- 逻辑删除 -->
 <update id="logicdelete" parameterType="java.lang.String">
	update order_detail set is_valid=0 where id = #{id}
</update>
<!-- 根据id查询 订单详情 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List" /> 
	 from order_detail where id = #{id}
</select>

<!-- 订单详情 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="com.itour.base.page.BasePage">
	select count(1) from order_detail 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询订单详情列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="com.itour.base.page.BasePage">
	select 
	<include refid="Base_Column_List"/>
	from order_detail 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
