<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itour.dao.TravelStyleDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.itour.entity.TravelStyle" >
	<result column="id" property="id"/>
	<result column="type" property="type"/>
	<result column="remark" property="remark"/>
</resultMap>
       
<!-- travel_style table all fields -->
<sql id="Base_Column_List" >
	 id, type, remark
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="type != null and type != ''" >
	    and type =  #{type}
	</if>
	<if test="remark != null and remark != ''" >
	    and remark =  #{remark}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.itour.entity.TravelStyle" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into travel_style(id,type,remark)
 values(#{id},#{type},#{remark})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="java.util.Map" >
  update travel_style set type=#{type},remark=#{remark} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.itour.entity.TravelStyle" >
	update travel_style set 
	<trim  suffixOverrides="," >
	<if test="type != null  ">
		type=#{type},
	</if>
	<if test="remark != null  ">
		remark=#{remark},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="java.util.Map">
	delete 	 from travel_style where id = #{id}
</delete>
 
<!-- 根据id查询 旅行方式 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List" /> 
	 from travel_style where id = #{id}
</select>

<!-- 旅行方式 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from travel_style 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询旅行方式列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>
	from travel_style 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
